html {
  font-size: 62.5%;

  display         : flex;
  justify-content : space-around;
  background-color: white;

}

.App {
  font-family     : sans-serif;
  text-align      : center;
  
  width           : 100%;
  border-radius   : 15px;
  background-image: url('https://images.pexels.com/photos/54326/runners-male-sport-run-54326.jpeg?cs=srgb&dl=sport-computer-runners-athlete-54326.jpg&fm=jpg');
  background-size : cover;

}

form {
  display       : flex;
  flex-direction: column;
  width         : 90%;
  max-width     : 300px;
  margin        : 0 auto;
}

label {
  display       : flex;
  flex-direction: column;
  /* align-items   : flex-start; */
  margin        : 10px 0;
  font-size     : 2rem;
}

input,
select,
textarea {
  width           : 100%;
  margin          : 5px 0 0;
  display         : block;
  border          : 2px solid rgba(0, 0, 0, 0.2);
  border-radius   : 5px;
  padding         : 5px;
  transition      : all 0.3s;
  font-size       : 1.2rem;
  letter-spacing  : 1.5px;
  background-color: darkorange;
}

select {
  height: 30px;
  width : 290px;
}

select:focus {
  outline     : none;
  border-color: #daa513;
}

input:focus {
  outline     : none;
  border-color: #daa513;
}

input:placeholder {
  color: #c74221;
}

button {
  width           : 150px;
  display         : inline-block;
  padding         : 8px 11px;
  font-size       : 1.2rem;
  text-transform  : uppercase;
  border          : 0;
  border-radius   : 5px;
  letter-spacing  : 2px;
  outline         : none;
  background-image: linear-gradient(to right, #c74221, #e77f1e);
  color           : #fff;
  cursor          : pointer;
  box-shadow      : 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: 24%;
}

button:hover {
  background-image: none;
  background-color: #e9d046;
  box-shadow      : 0 5px 12px rgba(0, 0, 0, 0.3);
}

button:disabled {
  background-image: none;
  background-color: white;
  border          : 1px solid rgba(0, 0, 0, 0.1);
  color           : rgba(0, 0, 0, 0.1);
  cursor          : not-allowed;
  display         : none;
}

.error {
  font-size: 1.8rem;
  color    : white;
}

.terms {
  display   : inline-block;
  /* align-self: self-start; */
  color: white;
}

.terms input {
  width       : 15px;
  display     : inline-block;
  margin-right: 5px;
  color: white
}

h1 {
  font-size : 6rem;
  color     : black;
  margin-top: 15%;
}

.title {
  font-size  : 1.8rem;
  font-weight: 700;
  color      : white;
  width: 95%;
}